body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00ff99;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #00ff99;
}

nav ul li a:hover::before {
    visibility: visible;
    width: 100%;
}

section {
    padding: 100px 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

h1, h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

p {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 20px;
    line-height: 1.6;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #00ff99;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #009966;
}

#destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    margin-bottom: 50px;

    text-align: left;
}

.category img{
    width: 500px;
    height: 500px;
}

.category h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00ff99;
}

.destination {
    display: inline-block;
    width: 48%;
    margin: 1%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    vertical-align: top;
    text-align: center;
}

.destination img {
    width: 100%;
    border-radius: 10px;
}

.destination p {
    font-size: 1rem;
    margin-top: 10px;
}

.destination:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

/* Responsive Design */
@media (max-width: 768px) {
    .destination {
        width: 100%;
        margin: 10px 0;
    }
}
